{% extends 'fcc/base.html' %}
{% block title %}Saisie du résultat d'un match{% endblock title %}
{% block id %}2{% endblock id %}

{% block content %}


<div class="container">
    <div class="well well-sm">
        <div class="container">
            <p>Résultats du match</p>
        </div>
    </div>
    <form method="post" action="">
    {% csrf_token %}
    {{ resultat_teamA_formset.management_form }}
    {{ resultat_teamB_formset.management_form }}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">FC Carolus</h3>
                </div>
                <label for="scoreA">Score: </label>
                <input id="scoreA" type="number" name="scoreA" maxlength="2">
                <div class="panel-body">
                    <table>
                    {% for form in resultat_teamA_formset %}
                        <tr>
                        {% for field in form.visible_fields %}
                            <td>
                                <table>
                                    <tr><td>{{ field.label }}</td>
                                    <td>{{ field }}</td></tr>
                                </table>
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">SAC</h3>
                </div>
                <label for="scoreB">Score: </label>
                <input id="scoreB" type="number" name="scoreB" maxlength="2">
                <div class="panel-body">
                    <table>
                    {% for form in resultat_teamB_formset %}
                        <tr>
                        {% for field in form.visible_fields %}
                            <td>
                                <table>
                                    <tr><td>{{ field.label }}</td>
                                    <td>{{ field }}</td></tr>
                                </table>
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Enregistrer" />
    </form>
</div>
{% endblock content %}
