{% extends 'fcc/base.html' %}
{% block title %}Saisie du résultat d'un match{% endblock title %}
{% block id %}2{% endblock id %}

{% block content %}


<div class="container">
    <div class="well well-sm">
        <div class="container">
            <p>Résultats du match</p>
        </div>
    </div>
    <form method="post" action="">
    {% csrf_token %}
    {{ resultat_teamA_formset.management_form }}
    {{ resultat_teamB_formset.management_form }}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">FC Carolus
                    <input class="form-control input-sm" style="width: 55px; display: inline;" required=true id="scoreA" type="number" name="scoreA" maxlength="2">
                    </h3>
                </div>
                <div class="panel-body">
                    {% for form in resultat_teamA_formset %}
                        <div class="form-inline form-group">
                        {% for field in form.visible_fields %}
                            <label class="control-label">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">SAC
                    <input class="form-control input-sm" style="width: 55px; display: inline;" required=true id="scoreB" type="number" name="scoreB" maxlength="2">
                    </h3>
                </div>
                <div class="panel-body">
                    {% for form in resultat_teamB_formset %}
                        <div class="form-inline form-group">
                        {% for field in form.visible_fields %}
                            <label class="control-label">{{ field.label }}</label>
                            {{ field }}
                        {% endfor %}
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    <input class="btn btn-primary" type="submit" name="submit" value="Enregistrer" />
    </form>
</div>
</div>
{% endblock content %}
