{% extends 'fcc/base.html' %}
{% block title %}Compo{% endblock title %}
{% block id %}2{% endblock id %}
{% load fcc_extras %}
{% block content %}


    <div class="well">
        <div class="container">
            <p>{{ request.user.username }}, indique ta disponibilité pour le match du {{ match.dateMatch }}</p>
            <p>
                {% if userFCC.inscrit != 1 %}
                    <a class="btn btn-sm btn-primary" href="/fcc/inscription/1" role ="button">Dispo</a>
                {% endif %}
                {% if userFCC.inscrit != 3 %}
                    <a class="btn btn-sm btn-danger" href="/fcc/inscription/3" role ="button">Absent</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="container">
    <h3>Compo du prochain match</h3>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">FC Carolus</h3>
                    </div>
                    <div class="panel-body">
                        {% get_compo_equipe equipe="A" %}
                    </div>
                </div>
                </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">SAC</h3>
                    </div>
                    <div class="panel-body">
                        {% get_compo_equipe equipe="B" %}
                    </div>
                </div>
            </div>
        </div>
        {% if liste_jokers or liste_invite %}
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-joker">
                    <div class="panel-heading">
                        <h3 class="panel-title">Jokers</h3>
                    </div>
                    <div id ="invites" class="panel-body">
                        {% include 'fcc/compo_invites.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if absents %}
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Absents</h3>
                    </div>
                    <div class="panel-body">
                        {% get_compo_equipe equipe="C" %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if en_attente %}
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-wait">
                    <div class="panel-heading">
                        <h3 class="panel-title">En attente</h3>
                    </div>
                    <div class="panel-body">
                        {% get_compo_equipe equipe="D" %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-6">
                <form class="form-inline" method="post" action="">
                    <div class="form-group">
                    {% csrf_token %}
                    {{ joker_form.joker }}
                    <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Ajouter" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
