{% load thumbnail %}
<ul class="list-unstyled">
{% load thumbnail %}
{% for invite in liste_invite %}
    <li class="team"> {% thumbnail invite.photo "40x40" crop="80% top" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        {{ invite.user.username }}
{% endfor %}
{% for liste_jokers in liste_jokers %}
    <li class="team"> {{ liste_jokers.joker }} (par {{ liste_jokers.userFCC.user.username }})
        {% if  liste_jokers.userFCC.user == request.user %}
            <a href ="#" onclick="suppJoker({{ liste_jokers.id }});return false;">
                <i class="fa fa-times-circle" aria-hidden="true" style="color:red;"></i>
            </a>
        {% endif %}
{% endfor %}
</ul>
