{% extends 'fcc/base.html' %}
{% block title %}Accueil{% endblock title %}
{% block id %}1{% endblock id %}

{% block content %}
<div class="well well-sm">
    <div class="container">
        <p>Prochain match : {{ prochainMatch.dateMatch }}
            <a href="/fcc/compo"><span class="badge badge-green">{{ nbInscrits }}</span></a>
            <a href="/fcc/compo"><span class="badge badge-red">{{ nbAbsents }}</span></a>
            <a href="/fcc/compo"><span class="badge badge-grey">{{ nbAttente }}</a>
        </p>
    </div>
</div>
<div class="container">
</div>
{% endblock content %}
