{% extends 'fcc/base.html' %}
{% block title %}Connexion{% endblock title %}

{% block content %}
<div class="container">
{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !
{% else %}
<form class="form-signin" style="max-width: 330px" method="post" action="">
    {% csrf_token %}
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="id_{{ form.username.name }}" type="text" class="form-control" name="{{ form.username.name }}" value="" placeholder="Login">
            </div>
            <div style="margin-bottom: 25px" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="id_{{ form.password.name }}" type="password" class="form-control" name="{{ form.password.name }}" value="" placeholder="Mot de passe">
            </div>
            <div style="margin-top:10px" class="form-group">
                <div class="col-sm-12 controls">
                    <input type="submit" value="Se connecter" class="btn btn-success" />
                </div>
            </div>
</form>
{% endif %}
</div>
{% endblock content %}
