{% load thumbnail %}
<ul class="list-unstyled">
{% for result_equipe in result_equipe %}
    <li class="team"> <div id="id-user-{{ result_equipe.userFCC.idUserFCC }}" class="result-joueur">{% thumbnail result_equipe.userFCC.photo "30x30" crop="80% top" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
        {{ result_equipe.userFCC.user.username }}</div>
        <div class="buts"><i class="fa fa-futbol-o" aria-hidden="true"></i> x {{ result_equipe.buts }}</div>
        <div class="ajout-news">
            <div class="my-rating"></div>
            <span class="live-rating"></span>
        </div>
        <script>
        var inita = {{ result_equipe.moyenne_note|floatformat:"f" }};
        var init = inita / 2;
        $(".my-rating").starRating({
    initialRating: init,
    starSize: 15,
    hoverColor: 'green',
    disableAfterRate: false,
    onHover: function(currentIndex, currentRating, $el){
        $('.live-rating').text(currentIndex);
    },
    onLeave: function(currentIndex, currentRating, $el){
      $('.live-rating').text(currentRating);
    },
    callback: function(currentRating, $el){
        // make a server call here
        //Prepare csrf token
         var csrftoken = getCookie('csrftoken');
        //Collect data from fields
         var joueur = "{{ result_equipe.userFCC.idUserFCC }}";
         var match = "{{ m }}";
         var note = currentRating;
         $.ajax({
               url : window.location.href, // the endpoint,commonly same url
               type : "POST", // http method
               data : { csrfmiddlewaretoken : csrftoken,
               joueur : joueur,
               match : match,
               note : note
         }, // data sent with the post request

         // handle a successful response
         success : function(json) {
         console.log(json); // another sanity check
         //On success show the data posted to server as a message
         $("#myModal").modal('hide');
         $("#news").load("/fcc/news");
         },

         // handle a non-successful response
         error : function(xhr,errmsg,err) {
         console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
         }
         });
        }
        });
    </script>
{% endfor %}
</ul>
