{% extends 'fcc/base.html' %}
{% block title %}Statistiques{% endblock title %}
{% block id %}4{% endblock id %}
{% load thumbnail %}
{% block content %}


<div class="well well-sm">
        <div class="container">
            <p>
                <form method="post" action="">
                    Statistiques de la session
                    {% csrf_token %}
                    {{ session_form.s }}
                    <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Go" />
                </form>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Joueur</th>
                        <th>Pts</th>
                        <th>Matchs</th>
                        <th>V</th>
                        <th>N</th>
                        <th>D</th>
                        <th><i class="fa fa-futbol-o" aria-hidden="true"></i></th>
                        <th><i class="fa fa-star" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.classement}}</td>
                        <td>{% thumbnail stat.userFCC.photo "20x20" crop="80% top" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}{{ stat.userFCC.user.username }}</td>
                        <td>{{ stat.points }}</td>
                        <td>{{ stat.nb_matchs }} <span class="moyenne">({{ stat.moyenne }})</span></td>
                        <td>{{ stat.victoire }}</td>
                        <td>{{ stat.nul }}</td>
                        <td>{{ stat.defaite }}</td>
                        <td>{{ stat.buts }}</td>
                        <td><span class="moyenne">{{ stat.note|floatformat:2|default:"" }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock content %}
