{% extends 'fcc/base.html' %}
{% block title %}Statistiques{% endblock title %}
{% block id %}4{% endblock id %}
{% load thumbnail %}
{% block content %}


<div class="well well-sm">
        <div class="container">
            <p>
                <form method="post" action="">
                    Statistiques de la session
                    {% csrf_token %}
                    {{ session_form.s }}
                    <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Go" />
                </form>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table id="dataTableClassement" class="table table-hover">
                <thead>
                    <tr>
                        <th class="sorting">#</th>
                        <th class="sorting">Nom</th>
                        <th class="sorting">Pts</th>
                        <th class="sorting">M</th>
                        <th class="sorting">P/M</th>
                        <th class="sorting">V</th>
                        <th class="sorting">N</th>
                        <th class="sorting">D</th>
                        <th class="sorting"><i class="fa fa-futbol-o" aria-hidden="true"></i></th>
                        <th class="sorting"><i class="fa fa-star" aria-hidden="true"></i></th>
                    </tr>
                </thead>
                <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat.classement}}</td>
                        <td>{% thumbnail stat.userFCC.photo "20x20" crop="80% top" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}{{ stat.userFCC.user.username }}</td>
                        <td>{{ stat.points }}</td>
                        <td>{{ stat.nb_matchs }}</td>
                        <td><span class="moyenne">{{ stat.moyenne }}</span></td>
                        <td>{{ stat.victoire }}</td>
                        <td>{{ stat.nul }}</td>
                        <td>{{ stat.defaite }}</td>
                        <td>{{ stat.buts }}</td>
                        <td><span class="moyenne">{{ stat.note|floatformat:2|default:"" }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
<script>
$(document).ready(function() {
  $('#dataTableClassement').dataTable( {
      "paging": false,
      "searching": false,
      "info" : false
  });
});
</script>
{% endblock content %}
