{% extends 'fcc/base.html' %}
{% block title %}Profil{% endblock title %}
{% block id %}7{% endblock id %}

{% block content %}
{% load thumbnail %}

<div class="well well-sm">
        <div class="container">
            <p>Profil de  {{ user.user.username }}
                {% thumbnail user.photo "40x40" crop="80% top" as im %}
                <img src="{{ im.url }}">
                {% endthumbnail %}
            </p>
        </div>
    </div>
    <div class="container">
        {% if request.user == user.user %}
            <div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ userFCC_form.as_p }}
                <input class="btn btn-primary" type="submit" name="submit" value="Modifier" />
            </form>
            </div>
        {% else %}
            <p>Email : {{ user.user.email }}</p>
            <p>GSM : {{ user.tel }}</p>
            <p>Titulaire : {{ user.titulaire }}</p>
        {% endif %}
    </div>

{% endblock content %}
